#define admin()
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    #@css?()
    <script src="/static/layui/layui.js"></script>
    #@js?()

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!-- 页面头部 -->
        #include("header.html")
    </div>

    <div class="layui-side layui-bg-black">
        <!-- 页面菜单-->
        #include("menu.html")
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        #@main()
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        #include("footer.html")
    </div>
</div>


</body>
</html>
#end