<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item">
            <a class="" href="javascript:;">杂志管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">财会学习</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">专利管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">应用新型</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">用户管理</a>
            <dl class="layui-nav-child">
                <dd><a href="/admin/user">用户管理</a></dd>
                <dd><a href="javascript:;">角色管理</a></dd>
                <dd><a href="javascript:;">权限管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">系统管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">SQL监控</a></dd>
                <dd><a href="javascript:;">定时任务</a></dd>
                <dd><a href="javascript:;">系统日志</a></dd>
            </dl>
        </li>
    </ul>
</div>